{% extends "base.html" %}
{% block start %}
    <div class="container">

      <form class="form-signin" action="{% url 'signin' %}" method="post">
      {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="username" class="form-control" placeholder="用户名" required autofocus>
        <font style="color: red">{{msg}}</font>
        
        <input type="password" name="password" class="form-control" placeholder="密码" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
          <input type="hidden" name="next" value="{{next|default:"/"}}" >
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
