    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li><a href="{% url 'home' %}">首页</a></li>
           <li><a href="#">计划列表</a></li>
            <li><a href="#about"></a></li>
            <li><a href="/blog/images">图片</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">文章 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/blog/doclist">所有文章</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          	<li><a>欢迎, {{ user.username }}</a></li>          
    		<li> <a style="float:left; " href="{% url 'mylogout' %}" >退出</a></li>
		  {% else %}  
    		<li><a href="{% url 'signin' %}" >登陆</a></li>
		  {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>   